<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 작성 페이지</title>
  <style>
        .layout {
        width: 500px;
        margin : 0 auto;
        }

        .layout input {
        width : 100%;
        box-sizing : border-box
        }

        .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
        }

    </style>
</head>
<body>
<table>
  <thead>
  <caption>글 읽기</caption>
  </thead>
  <tbody>
  <tr>
    <th>제목</th>
    <td th:text="${board.title}"></td>
  </tr>
  <tbody>
  <tr>
    <th>내용</th>
    <td th:text="${board.content}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>