<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 작성 페이지</title>
  <style>
        .layout {
        width: 500px;
        margin : 0 auto;
        }

        .layout input {
        width : 100%;
        box-sizing : border-box
        }

        .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
        }

    </style>
</head>
<body>
<table>
  <tbody>
   <tr th:each="board : ${board}">
     <td th:text="${board.title}"></td>
     <td th:text="${board.content}"></td>
     <td th:text="${board.regdate}"></td>
     <td th:text="${board.updatedate}"></td>
   </tr>
  </tbody>
</table>
</body>
</html>