<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 작성 페이지</title>
    <style>
        .layout {
        width: 500px;
        margin : 0 auto;
        }

        .layout input {
        width : 100%;
        box-sizing : border-box
        }

        .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
        }

    </style>
</head>
<body>
<form th:action="writepro" method="post">
    <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
    <input type="text" id="content" name="content" placeholder="내용을 입력하세요">
    <input type="submit" id="submiBtn" value="작성하기">
</form>
</body>
</html>